@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::-webkit-scrollbar {
		@apply w-2;
	}

	::-webkit-scrollbar-track {
		@apply bg-transparent;
	}

	::-webkit-scrollbar-thumb {
		@apply rounded-md bg-primary-600/75;
	}

	* {
		scroll-behavior: smooth;
	}
	html {
		animation: fadeIn 3s;
	}
}

@layer components {
}

@layer utilities {
	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
